@page "/AttributionsPage"

<div>
    <h1 class="pageheader">Free resources that got used on in this App</h1>
    <p>
        Thanks to all the people creating great and free resources for open source development.
        Maybe check out some of the following links and support those people.
    </p>
    <ul>
        <li>
            <a class="btn-link"  href="https://useiconic.com/open" target="_blank">Open Iconic</a>
        </li>
    </ul>
</div>
